---
import { type CollectionEntry, getCollection } from 'astro:content'
import SEO from '../../components/SEO.astro'
import Layout from '../../layouts/Layout.astro'
import { render } from 'astro:content'

export async function getStaticPaths() {
	const posts = await getCollection('indlaeg')
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}))
}
type Props = CollectionEntry<'indlaeg'>

const post = Astro.props
const { Content } = await render(post)
---

<head>
	<SEO title={post.data.title} description={post.data.description} />
</head>
<Layout>
	<div class="main-content">
		<div data-prose>
			<div>
				<h1 data-heading data-text>{post.data.title}</h1>
				<div
					data-astro-source-file="C:/Users/loran/lorangmarcus/marcuslorang/src/pages/indlaeg/index.astro"
					data-astro-source-loc="20:10"
				>
					<span
						data-astro-source-file="C:/Users/loran/lorangmarcus/marcuslorang/src/pages/indlaeg/index.astro"
						data-astro-source-loc="22:9"
						><svg
							height="16"
							stroke-linejoin="round"
							viewBox="0 0 16 16"
							width="16"
							style="color: currentcolor;"
							data-astro-source-file="C:/Users/loran/lorangmarcus/marcuslorang/src/pages/indlaeg/index.astro"
							data-astro-source-loc="28:10"
							><path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M1.99939 10.25V11H3.49939V10.25V4.56008L12.7191 13.7798L13.2495 14.3101L14.3101 13.2494L13.7798 12.7191L4.56121 3.50058H10.25H11V2.00058H10.25H2.99939C2.4471 2.00058 1.99939 2.4483 1.99939 3.00058V10.25Z"
								fill="currentColor"
								data-astro-source-file="C:/Users/loran/lorangmarcus/marcuslorang/src/pages/indlaeg/index.astro"
								data-astro-source-loc="28:10"></path></svg
						></span
					>
					<span
						data-text
						data-astro-source-file="C:/Users/loran/lorangmarcus/marcuslorang/src/pages/indlaeg/index.astro"
						data-astro-source-loc="35:24"
					>
						<a
							data-variant="text"
							data-link
							href="/indlaeg"
							style="color: var(--gray-12);"
							data-astro-source-file="C:/Users/loran/lorangmarcus/marcuslorang/src/pages/indlaeg/index.astro"
							data-astro-source-loc="40:39">Indlæg</a
						>
					</span>
				</div>
			</div>
			<article data-prose>
				<Content />
			</article>
		</div>
	</div>
</Layout>
